<div class="css-navbar-left">
  <% if @view.user_signed_in? %>
    <div class="css-navbar-header">
      <%= link_to 'Blocmetrics', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to user_path(@view.current_user) do %>
        <i class="glyphicon glyphicon-home"> </i>&nbsp; Home<% end %>
      </li>
      <li><%= link_to about_path do %>
        <i class="glyphicon glyphicon-info-sign"> </i>&nbsp; About<% end %>
      </li>
      <li><%= link_to edit_user_registration_path(@view.current_user),
        title: "#{@view.current_user.name} (#{@view.current_user.email})" do %>
        <i class="glyphicon glyphicon-user"> </i>&nbsp;
        <span class="css-user-name">
          <%= "#{@view.current_user.email.split('@').first[0,14]}" %>
        </span><% end %>
      </li>
    </ul>
  <% else %>
    <div class="css-navbar-header">
      <%= link_to 'Blocmetrics', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to about_path do %>
        <i class="glyphicon glyphicon-info-sign"> </i>&nbsp; About<% end %>
      </li>
    </ul>
  <% end %>
</div>
